[package]
name = "ocl"
version = "0.14.1"
authors = ["Nick Sanders <cogciprocate@gmail.com>"]
description = "OpenCL bindings and interfaces for Rust."
documentation = "https://docs.rs/ocl"
homepage = "https://github.com/cogciprocate/ocl"
repository = "https://github.com/cogciprocate/ocl"
readme = "README.md"
keywords = ["opencl", "gpu", "gpgpu", "async"]
license = "MIT/Apache-2.0"
exclude = ["target/*", "*.png", "bak/*"]
categories = ["asynchronous", "concurrency", "science", "api-bindings"]

[features]
event_debug_print = []
kernel_debug_print = []
kernel_debug_sleep = []
opencl_version_1_1 = ["ocl-core/opencl_version_1_1"]
opencl_version_1_2 = ["ocl-core/opencl_version_1_2"]
opencl_version_2_0 = ["ocl-core/opencl_version_2_0"]
opencl_version_2_1 = ["ocl-core/opencl_version_2_1"]

# Enabling this feature causes all `Future::poll` functions to behave in a
# thread-blocking manner, causing the calling thread to block then return
# `Async::Ready(..)` instead of behaving as a normal future would (returning
# either `Async::Ready(..)` or `Async::NotReady` depending on the situation).
#
# Enabling this feature will reduce performance. Do this only if your
# (platform) drivers have issues/bugs with event callbacks or thread
# synchronization (old/non-compliant drivers - Known cases: certain
# pre-Sandy-Bridge Intel processors [on Intel drivers], some other
# pre-gen-5-core processors [on Intel drivers]).
#
# Leaving this disabled is recommended.
async_block = []

default = ["opencl_version_1_1", "opencl_version_1_2"]

[dependencies]
libc = "0.2"
num = "0.1"
futures = "0.1"
crossbeam = "0.2"
nodrop = "0.1"

ocl-core = "~0.5.1"
# ocl-core = { version = "*", git = "https://github.com/cogciprocate/ocl-core" }
# ocl-core = { version = "*", path = "../ocl-core" }

qutex = "0.1"
# qutex = { version = "*", git = "https://github.com/cogciprocate/qutex" }
# qutex = { version = "*", path = "../qutex" }

[dev-dependencies]
find_folder = "0.3"
colorify = "0.2"
time = "0.1"
rand = "0.3"
chrono = "0.2"
futures = "0.1"
futures-cpupool = "0.1"
lazy_static = "0.2"
ocl-extras = { version = "0.1", path = "ocl-extras" }

[replace]
# "qutex:0.1.0" = { git = "https://github.com/cogciprocate/qutex" }
"cl-sys:0.3.0" = { git = "https://github.com/cogciprocate/cl-sys" }
"ocl-core:0.5.1" = { git = "https://github.com/cogciprocate/ocl-core" }

[workspace]
members = ["ocl-extras", "examples/images", "examples/images_safe_clamp",
	"examples/opencl_2_1", "examples/proto"]